<div class="p-5 mt-5 bg-slate-100">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
    <div>
      <h2 class="text-green-600 text-2xl font-bold mb-4">Logo</h2>
      <p><span class="font-semibold">Location:</span> Somewhere on Earth</p>
      <p><span class="font-semibold">Contact:</span> +91 9999999999</p>
      <p>
        <span class="font-semibold">Time:</span> (9am - 5pm EST, Monday -
        Friday)
      </p>
      <p><span class="font-semibold">Email:</span> RisshabSingla.com</p>
    </div>

    <div>
      <h3 class="text-lg font-bold mb-4">Company</h3>
      <ul class="space-y-2">
        <li><a href="#" class="hover:text-green-400">Case Studies</a></li>
        <li><a href="#" class="hover:text-green-400">Case Details</a></li>
        <li><a href="#" class="hover:text-green-400">Privacy Policy</a></li>
        <li><a href="#" class="hover:text-green-400">Services</a></li>
      </ul>
    </div>

    <div>
      <h3 class="text-lg font-bold mb-4">Explore</h3>
      <ul class="space-y-2">
        <li><a href="#" class="hover:text-green-400">About Us</a></li>
        <li><a href="#" class="hover:text-green-400">Blog And News</a></li>
        <li><a href="#" class="hover:text-green-400">Blog Details</a></li>
        <li><a href="#" class="hover:text-green-400">Pricing</a></li>
      </ul>
    </div>

    <div>
      <h3 class="text-lg font-bold mb-4">Insurance</h3>
      <ul class="space-y-2">
        <li><a href="#" class="hover:text-green-400">Health Insurance</a></li>
        <li><a href="#" class="hover:text-green-400">Car Insurance</a></li>
        <li><a href="#" class="hover:text-green-400">Business Insurance</a></li>
        <li><a href="#" class="hover:text-green-400">Life Insurance</a></li>
      </ul>
    </div>
  </div>
</div>
