<div class="w-full p-2">
  <div class="flex justify-center text-green-700 text-2xl">
    Ready to get Started
  </div>
  <div class="text-2xl font-bold">
    <div class="flex justify-center">Get the Latest Insurance News In</div>
    <div class="flex justify-center">Minutes</div>
  </div>

  <div class="flex justify-center mt-2">
    <div class="w-3/4">
      Suspendisse sed ullamcorper magna. Pellentesque ut porta est. Morbi
      tincidunt, elit eu cursus porttitor, nisl quam Cras in magna in nisi
      sodales suscipit sit amet in mauris. Ut vel nunc vitae eros sodales
      finibus ut quis odio. Maecenas placerat pretium tellus a sagitti
    </div>
  </div>

  <div class="mt-6">
    <div class="flex justify-center">
      <input
        class="border-2 border-gray-300 text-gray-600 p-2"
        value="Email Address"
      />
      <button class="p-2 bg-green-600 rounded-sm">Subscribe</button>
    </div>
  </div>
</div>
