<div class="md:flex bg-slate-100">
  <div class="md:w-1/2">
    <div class="flex h-full justify-center items-center">
      <div class="p-3 gap-2">
        <div class="text-3xl font-bold tracking-wide">
          <p>
            Take the worry out of the life with
            <span class="text-green-600"> Insurance</span> Protection
          </p>
        </div>
        <div class="mt-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem
          ipsum dolor sit amet, consectetur adipiscing elit, sed do
        </div>
        <div class="mt-2 flex gap-3 w-full justify-center">
          <button
            class="p-2 bg-green-600 rounded-sm text-white hover:bg-green-800"
          >
            Get Started
          </button>
          <button
            class="p-2 rounded-sm border-2 border-black hover:text-white hover:bg-green-800"
          >
            Contact Us
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="md:w-1/2 flex justify-center">
    <img src="assets/HeroSectionImage.jpeg" />
  </div>
</div>
