<div class="p-1 w-full flex justify-center">
  <div class="text-lg">
    <div class="hover:text-green-600 px-2">Home</div>
    <div class="hover:text-green-600 px-2">Pages</div>
    <div class="hover:text-green-600 px-2">Insurances</div>
    <div class="hover:text-green-600 px-2">Blog</div>
    <div class="hover:text-green-600 px-2">Contact Us</div>

    <div class="gap-2 p-1 md:hidden">
      <div class="py-1">📞 +(11)65 458 856</div>
      <div>
        <button class="px-2 p-1 bg-green-500 rounded-sm hover:bg-green-700">
          Get Quote
        </button>
      </div>
    </div>
  </div>
</div>
